// Add styles here you want to override

.empty-select,
.empty-select:focus {
  color: #a0a0a0;
  option {
    color: #494949;
  }
}

.form-group .form-control {
  &.filter-helper-exp {
    width: 2.4rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    font-weight: bold;
    -webkit-appearance: none;
    appearance: none;
  }
  &.filter-helper-source,
  &.filter-helper-max {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  &.filter-helper-min {
    width: 8rem;
    border-radius: 0;
  }
  &.filter-helper-max {
    width: 8rem;
  }
}